<?xml version="1.1" encoding="UTF-8" ?>
<config>

	<window
		title="Breakout:"
		width="800"
		height="600"
	></window>
	
	<FPS>
		<fps id = "0" FPS = "30"></fps>
	</FPS>
	
	<systems>
	<system
		id="0"
		name="LogManager"
		logFile="log.txt"
	></system>
	</systems>
	
	<components>
		<component id="1" name="Sprite" poolSize="140"></component>
		<component id="2" name="Transform" poolSize="140"></component>
		<component id="3" name="Movement" poolSize="2"></component>
		<component id="4" name="Player" poolSize="1"></component>
		<component id="5" name="PlayerBall" poolSize="1"></component>
		<component id="6" name="Collider" poolSize="140"></component>
		<component id="7" name="Particles" poolSize="1"></component>
	</components>
	
	<gameMaps>
		<lvl id="0" name="none" path="assets/levels/0.lvl"></lvl>
		<lvl id="1" name="Standard" path="assets/levels/1.lvl"></lvl>
		<lvl id="2" name="A_few_small_gaps" path="assets/levels/2.lvl"></lvl>
		<lvl id="3" name="Space_invader" path="assets/levels/3.lvl"></lvl>
		<lvl id="4" name="Bounce_galore" path="assets/levels/4.lvl"></lvl>
	</gameMaps>
	
	<assets>
		<shaders>
			<shader id="0" name="sprite_render_0" path="assets/shaders/sprite_render_0"></shader>
			<shader id="1" name="particle" path="assets/shaders/particle"></shader>
		</shaders>
		<textures>
			<texture id="0" name="awesomeface" path="assets/textures/awesomeface.png" alpha="1"></texture>
			<texture id="1" name="background" path="assets/textures/background.jpg" alpha="0"></texture>
			<texture id="2" name="block_solid" path="assets/textures/block_solid.png" alpha="0"></texture>
			<texture id="3" name="block" path="assets/textures/block.png" alpha="0"></texture>
			<texture id="4" name="paddle" path="assets/textures/paddle.png" alpha="1"></texture>
			<texture id="5" name="particle" path="assets/textures/particle.png" alpha="1"></texture>
		</textures>
	</assets>

</config>