<?xml version="1.1" encoding="UTF-8" ?>
<config>

	<window
		title="Breakout:"
		width="800"
		height="600"
	></window>
	
	<FPS>
		<fps id = "0" FPS = "60"></fps>
	</FPS>
		
	<systems>
	<system
		id="0"
		name="LogManager"
		logFile="log.txt"
	></system>
	</systems>
	
	<components>
		<component id="1" name="Sprite" poolSize="10"></component>
		<component id="2" name="Transform" poolSize="125"></component>
		<component id="3" name="Movement" poolSize="2"></component>
		<component id="4" name="Player" poolSize="1"></component>
		<component id="5" name="PlayerBall" poolSize="1"></component>
		<component id="6" name="Collider" poolSize="125"></component>
		<component id="7" name="Particles" poolSize="1"></component>
		<component id="8" name="SpriteColor" poolSize="100"></component>
		<component id="9" name="PowerUp" poolSize="3"></component>
	</components>
	
	<gameMaps>
		<lvl id="0" name="none" path="assets/levels/0.lvl"></lvl>
		<lvl id="1" name="Standard" path="assets/levels/1.lvl"></lvl>
		<lvl id="2" name="A_few_small_gaps" path="assets/levels/2.lvl"></lvl>
		<lvl id="3" name="Space_invader" path="assets/levels/3.lvl"></lvl>
		<lvl id="4" name="Bounce_galore" path="assets/levels/4.lvl"></lvl>
	</gameMaps>
	
	<assets>
		<shaders>
			<shader id="0" name="sprite_render_0" path="assets/shaders/sprite_render_0"></shader>
			<shader id="1" name="particle" path="assets/shaders/particle"></shader>
			<shader id="2" name="chaos_post_effect" path="assets/shaders/post_effects/chaos"></shader>
			<shader id="3" name="confuse_post_effect" path="assets/shaders/post_effects/confuse"></shader>
			<shader id="4" name="shake_post_effect" path="assets/shaders/post_effects/shake"></shader>
		</shaders>
		<textures>
			<texture id="0" name="awesomeface" path="assets/textures/awesomeface.png" alpha="1"></texture>
			<texture id="1" name="background" path="assets/textures/background.jpg" alpha="0"></texture>
			<texture id="2" name="block_solid" path="assets/textures/block_solid.png" alpha="0"></texture>
			<texture id="3" name="block" path="assets/textures/block.png" alpha="0"></texture>
			<texture id="4" name="paddle" path="assets/textures/paddle.png" alpha="1"></texture>
			<texture id="5" name="particle" path="assets/textures/particle.png" alpha="1"></texture>
			<texture id="6" name="speed_powerup" path="assets/textures/powerup_speed.png" alpha="1"></texture>
			<texture id="7" name="sticky_powerup" path="assets/textures/powerup_sticky.jpg" alpha="0"></texture>
			<texture id="8" name="pass_through_powerup" path="assets/textures/powerup_passthrough.png" alpha="1"></texture>
			<texture id="9" name="pad_size_increase_powerup" path="assets/textures/powerup_increase.png" alpha="1"></texture>
			<texture id="10" name="confuse_powerup" path="assets/textures/powerup_confuse.png" alpha="1"></texture>
			<texture id="11" name="chaos_powerup" path="assets/textures/powerup_chaos.png" alpha="1"></texture>
		</textures>
		<sounds>
			<sound id="0" name="HitNonSolidBlock" path="assets/sounds/non_solid_block.mp3"></sound>
			<sound id="1" name="HitSolidBlock" path="assets/sounds/solid.wav"></sound>
			<sound id="2" name="CatchPowerup" path="assets/sounds/powerup.wav"></sound>
			<sound id="3" name="PaddlePass" path="assets/sounds/paddle.wav"></sound>
		</sounds>
		<music>
			<track id="0" name="BreakoutMain" path="assets/music/breakout.mp3"></track>
		</music>
	</assets>

</config>